.title {
  margin-bottom: var(--spacing-size16);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: var(--spacing-size08);
}

.device-container {
  position: relative;
  min-width: 25vw;
}

.device {
  z-index: 10;
  width: var(--dimensions-size350);
  height: var(--dimensions-size480);
  margin: auto;
}

.device-shadow {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 var(--dimensions-size80) var(--dimensions-size80)
    rgba(255, 255, 255, 0.6);
}

.no-zone {
  margin-top: var(--spacing-size12);
}

.buttons-list {
  height: var(--dimensions-size150);
}

.button {
  color: var(--primary-lighter-color);
  margin-left: var(--spacing-size12);
}

.button-selected {
  color: inherit;
  border-left: 1px solid;
}

.option {
  margin-left: var(--spacing-size04);
}

.list {
  width: 20vw;
}

.zones {
  width: 20vw;
}
