.container {
    padding-top: 20px;
}

.device-container {
  position: relative;
  margin-left: var(--spacing-size20);
}

.device {
  z-index: 10;
}

.device-shadow {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  box-shadow:
    0px
    0px
    var(--dimensions-size80)
    var(--dimensions-size80)
    rgba(255, 255, 255, 0.6);
}

.list {
    width: 15%;
}

.title-padding {
    padding-left: 16px;
}
