body {
  // Spacing
  --spacing-size04: 4px;
  --spacing-size08: 8px;
  --spacing-size12: 12px;
  --spacing-size16: 16px;
  --spacing-size20: 20px;
  --spacing-size24: 24px;
  --spacing-size32: 32px;
  --spacing-size36: 36px;
  --spacing-size48: 48px;
  --spacing-size72: 72px;
  --spacing-size80: 80px;
  --spacing-size96: 96px;
  --spacing-size128: 128px;
  --spacing-size160: 160px;
  // Dimensions
  --dimensions-size05: 5px;
  --dimensions-size10: 10px;
  --dimensions-size15: 15px;
  --dimensions-size20: 20px;
  --dimensions-size30: 30px;
  --dimensions-size40: 40px;
  --dimensions-size45: 45px;
  --dimensions-size50: 50px;
  --dimensions-size55: 55px;
  --dimensions-size60: 60px;
  --dimensions-size70: 70px;
  --dimensions-size80: 80px;
  --dimensions-size90: 90px;
  --dimensions-size100: 100px;
  --dimensions-size260: 260px;
  --dimensions-size290: 290px;
  --dimensions-size340: 340px;
  --dimensions-size350: 350px;
  --dimensions-size480: 480px;
}
