<span fxLayout="row" fxLayoutAlign="center center">
  <div>
    <h3>Mapping {{ selectedKey }} button to</h3>
    <mat-form-field>
      <mat-label>Select an input type</mat-label>
      <mat-select
        [(value)]="selectedBindToType"
        (selectionChange)="filterType()"
      >
        <mat-option *ngFor="let type of bindToTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select a bind key</mat-label>
      <mat-select [(value)]="selectedBindTo" (selectionChange)="changeBindTo()">
        <mat-option [value]="bindToDefault">Default</mat-option>
        <mat-divider></mat-divider>
        <mat-option *ngFor="let input of bindToList" [value]="input">
          {{ input.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <img src="{{ mouseTopImg }}" />

  <div>
    <h3>Buttons</h3>
    <mat-button-toggle-group
      #buttonGroup="matButtonToggleGroup"
      vertical="true"
      [value]="selectedKey"
      (change)="selectKey(buttonGroup.value)"
    >
      <mat-button-toggle *ngFor="let key of keys" value="{{ key }}">
        {{ key }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</span>
