mat-form-field {
  display: block;
}

.device-container {
  position: relative;
}

.device {
  z-index: 10;
}

.device-shadow {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  box-shadow:
    0px
    0px
    var(--dimensions-size80)
    var(--dimensions-size80)
    rgba(255, 255, 255, 0.6);
}
