<span fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="selectedButton$ | async as selectedButton; else select_input">
    <h3>Mapping {{ selectedButton }} button</h3>
    <mat-form-field>
      <mat-label>Select an input type</mat-label>
      <mat-select [(value)]="selectedBindToType">
        <mat-option
          *ngFor="let type of bindToTypes(selectedButton)"
          [value]="type"
        >
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select a bind key</mat-label>
      <mat-select
        [(value)]="selectedBindToKey"
        (selectionChange)="changeBindTo(selectedButton)"
      >
        <mat-option [value]="selectedButton">Default</mat-option>
        <mat-divider></mat-divider>
        <mat-option
          *ngFor="let input of bindToKeys(selectedButton)"
          [value]="input"
        >
          {{ input }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-template #select_input>
    <div>Select a button to configure</div>
  </ng-template>

  <img src="{{ mouseTopImg }}" />

  <div>
    <h3>Buttons</h3>
    <mat-button-toggle-group
      #buttonGroup="matButtonToggleGroup"
      vertical="true"
      (change)="selectKey(buttonGroup.value)"
    >
      <mat-button-toggle
        *ngFor="let button of inputButtons"
        value="{{ button }}"
      >
        {{ button }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</span>
