<div
  fxLayout="column"
  fxLayout.gt-xs="row"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center">
    <h1 class="title mat-title">DPI Stages</h1>
    <div class="stages" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="">
      <div
        class="stage-container"
        *ngFor="let stage of stages; let i = index"
        [ngClass]="{'stage-background': selectedStage === i}"
      >
        <mat-card
          class="stage"
          [ngClass]="{'card-red-background': true, 'card-green-background': (i + 1) % 2 === 0, 'card-blue-background': (i + 1) % 3 === 0}"
          matRipple
          (click)="changeStage(i)"
          >
          <span class="stage-title body-1" fxLayoutAlign="center center">
              Stage {{i + 1}}
          </span>
          <mat-card-content class="card-content">
            <mat-form-field class="form-field" appearance="outline">
              <input
                #matInput="matInput"
                matInput
                class="mat-input dpi-input"
                (change)="setDpiInput(i, matInput.value)"
                type="text"
                [value]="stage"
                placeholder=""
              />
              <span>DPI</span>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <span class="slider-container">
      <span>{{minDpi}}</span>
      <mat-slider
        class="slider"
        #matSlider="matSlider"
        (change)="setDpiSlider(matSlider.value)"
        [min]="minDpi"
        [max]="maxDpi"
        [step]="step"
        [value]="selectedDpi"
        tickInterval=10
      >
      </mat-slider>
      <span>{{maxDpi}}</span>
    </span>
  </div>
  <div class="device-container" fxLayout="column" fxLayoutAlign="center center">
    <img class="device" src="{{mouseBottomImg}}">
    <div class="device-shadow"></div>
    <button class="mat-body-1 default-reset" mat-button (click)="resetToDefault()">
      Default settings reset
    </button>
  </div>
</div>
